.container-drag{
}

.header{
    text-align: center;
    background-color: blanchedalmond;
    margin: 0px;
    padding: 5px;
}

.wip{

background-color: azure;


}

.task-header{
background-color: blanchedalmond;
text-align: center;

}

.droppable{
    
background-color: black;

}

.draggable{

text-align: center;

}